@font-face {
    font-family: "Noe Display Black";
    src: url('fonts/Noe-Display/NoeDisplay-Black.eot');
    src: url('fonts/Noe-Display/NoeDisplay-Black.eot?#iefix')
        format("embedded-opentype"),
      url('fonts/Noe-Display/NoeDisplay-Black.woff2') format("woff2"),
      url('fonts/Noe-Display/NoeDisplay-Black.woff') format("woff"),
      url('fonts/Noe-Display/NoeDisplay-Black.ttf') format("truetype"),
      url('fonts/Noe-Display/NoeDisplay-Black.svg#NoeDisplay-Black') format("svg");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "Noe Display Medium";
    src: url('fonts/Noe-Display/NoeDisplay-Medium.eot');
    src: url('fonts/Noe-Display/NoeDisplay-Medium.eot?#iefix')
        format("embedded-opentype"),
      url('fonts/Noe-Display/NoeDisplay-Medium.woff2') format("woff2"),
      url('fonts/Noe-Display/NoeDisplay-Medium.woff') format("woff"),
      url('fonts/Noe-Display/NoeDisplay-Medium.ttf') format("truetype"),
      url('fonts/Noe-Display/NoeDisplay-Medium.svg#NoeDisplay-Medium') format("svg");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Noe Display Black Italic";
    src: url('fonts/Noe-Display/NoeDisplay-BlackItalic.eot');
    src: url('fonts/Noe-Display/NoeDisplay-BlackItalic.eot?#iefix')
        format("embedded-opentype"),
      url('fonts/Noe-Display/NoeDisplay-BlackItalic.woff2') format("woff2"),
      url('fonts/Noe-Display/NoeDisplay-BlackItalic.woff') format("woff"),
      url('fonts/Noe-Display/NoeDisplay-BlackItalic.ttf') format("truetype"),
      url('fonts/Noe-Display/NoeDisplay-BlackItalic.svg#NoeDisplay-BlackItalic')
        format("svg");
    font-weight: 900;
    font-style: italic;
  }
  @font-face {
    font-family: "Noe Display Bold";
    src: url('fonts/Noe-Display/NoeDisplay-Bold.eot');
    src: url('fonts/Noe-Display/NoeDisplay-Bold.eot?#iefix')
        format("embedded-opentype"),
      url('fonts/Noe-Display/NoeDisplay-Bold.woff2') format("woff2"),
      url('fonts/Noe-Display/NoeDisplay-Bold.woff') format("woff"),
      url('fonts/Noe-Display/NoeDisplay-Bold.ttf') format("truetype"),
      url('fonts/Noe-Display/NoeDisplay-Bold.svg#NoeDisplay-Bold') format("svg");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Noe Display";
    src: url('fonts/Noe-Display/NoeDisplay.eot');
    src: url('fonts/Noe-Display/NoeDisplay.eot?#iefix') format("embedded-opentype")',
      url('fonts/Noe-Display/NoeDisplay.woff2') format("woff2"),
      url('fonts/Noe-Display/NoeDisplay.woff') format("woff"),
      url('fonts/Noe-Display/NoeDisplay.ttf') format("truetype"),
      url('fonts/Noe-Display/NoeDisplay.svg#NoeDisplay') format("svg");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Noe Display Bold Italic";
    src: url('fonts/Noe-Display/NoeDisplay-BoldItalic.eot');
    src: url('fonts/Noe-Display/NoeDisplay-BoldItalic.eot?#iefix')
        format("embedded-opentype"),
      url('fonts/Noe-Display/NoeDisplay-BoldItalic.woff2') format("woff2"),
      url('fonts/Noe-Display/NoeDisplay-BoldItalic.woff') format("woff"),
      url('fonts/Noe-Display/NoeDisplay-BoldItalic.ttf') format("truetype"),
      url('fonts/Noe-Display/NoeDisplay-BoldItalic.svg#NoeDisplay-BoldItalic')
        format("svg");
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: "Noe Display Medium Italic";
    src: url('fonts/Noe-Display/NoeDisplay-MediumItalic.eot');
    src: url('fonts/Noe-Display/NoeDisplay-MediumItalic.eot?#iefix')
        format("embedded-opentype"),
      url('fonts/Noe-Display/NoeDisplay-MediumItalic.woff2') format("woff2"),
      url('fonts/Noe-Display/NoeDisplay-MediumItalic.woff') format("woff"),
      url('fonts/Noe-Display/NoeDisplay-MediumItalic.ttf') format("truetype"),
      url('fonts/Noe-Display/NoeDisplay-MediumItalic.svg#NoeDisplay-MediumItalic')
        format("svg");
    font-weight: 500;
    font-style: italic;
  }